.sp-contact-form-7 {
    input:not([type="submit"]), textarea {
        width: 100%;
    }

    .btn-center {
        input[type="submit"] {
            @apply mx-auto block;
        }

        .ajax-loader {
            display: none !important;
        }
    }

    .btn-left {
        input[type="submit"] {
            @apply float-left block;
        }
    }

    .btn-right {
        input[type="submit"] {
            @apply float-right block;
        }
    }

    .btn-full-width {
        input[type="submit"] {
            @apply w-full;
        }
    }

    .wpcf7 form>div, .wpcf7 form>p {
        @apply mb-2;
    }

    .wpcf7 input:not([type=submit]), .wpcf7 select, .wpcf7 textarea {
        @apply p-2 border-black bg-white border-solid border;
    }

    .wpcf7 textarea {
        max-height: 150px;
    }

    .wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output {
        @apply mx-0 my-4 border-primary;
    }
}
