/* Main
/* ----------------------------------------------- */
.sp-block {      
    *,
    ::before,
    ::after {
        box-sizing: border-box;
        border-width: 0;
        border-style: solid; 
        border-color: #e2e8f0; 
    }
}

@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Blocks
/* ----------------------------------------------- */
@import "../../blocks/map/assets/block.scss";
@import "../../blocks/icon/assets/block.scss";
@import "../../blocks/section/assets/block.scss";
@import "../../blocks/youtube/assets/block.scss";
@import "../../blocks/contact-form-7/assets/block.scss";

/* Base
/* ----------------------------------------------- */
.sp-block {
    .mt-x {
        margin-top: var(--sp-block-margin); 
    }

    .mb-x {
        margin-bottom: var(--sp-block-margin); 
    }

    .container {
        margin-left: auto;
        margin-right: auto;
        max-width: var(--sp-container-width);
    }

    .not-found { 
        @apply p-4 border border-gray-400 border-dashed;
    }
}

/* WP Blocks
/* ----------------------------------------------- */
:root {
    .has-primary-color {
        color: var(--sp-color-primary);
    }
    
    .has-secondary-color {
        color: var(--sp-color-secondary);
    }

    .has-primary-background-color {
        background-color: var(--sp-color-primary);
    }

    .has-secondary-background-color {
        background-color: var(--sp-color-secondary);
    }
} 

.wp-block-columns, .wp-block-gallery {
    margin-bottom: var(--sp-block-margin);  
}

.block-editor-block-list__block {
    margin: 0;
}
